*{
    margin:0; box-sizing: border-box; font-family: sans-serif;
}
.navbar{
    height: 55px;
    width: 100wh;
    background-color: #0F1111;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 2px;
    margin-bottom: 3px;
    width: 145px;
    height: 45px;
    background: url(AmazonLogoWhitbg.jpg);
    background-size: cover;

}
.address{
    width: 180px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    padding: 2px;
}
.Pstyle{
    color: #bdb8b8;
}
.pinAddress{
    color: #ffffff;
}
.borderR{
    border: 3px #0F1111;
    border-radius: 10px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.searchBar{
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    /* border-radius: 2px;
    border-collapse: collapse; */
    width: 55px;
    padding: 7px 8px 7px 8px;
}
input{
    width: 240px;
 padding: 6px 10px 8px 0px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 2px;
    border-collapse: collapse; */
    width: 45px;
    height: 32.3px;
    background-color: rgb(218, 218, 45);
}
.country{
    padding-top: 25px;
    width: 70px;
    height: 30px;
    color: #cccccc;
    display: flex;
    justify-content: start;
    align-items: center;
}
.ind{
    background: url(india.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    padding-left: 25px;
}
option{
    width: 50px;
    padding-left: 8px;
    background-color: #0F1111;
    color: #cccccc;
}
.border{
    border: 1px transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 3px;
    border-collapse: collapse;
}

.pinAddress1{
    height:40px;
    width: 70px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar2{
    height: 35px;
    width: 100wh;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    padding-top: 9px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.link1 {
    height: 20px;
    display: flex;
    justify-content: space
}
.border1{
    border: 1px transparent;
    height: 25px;
}
.border1:hover{
    border: 1px solid white;
    border-radius: 3px;
    border-collapse: collapse;
}
.banner{
    height: 400px;
    width: 100wh;
    background: url(AmazonImg.jpg);
}